@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-body: "Inter", "ui-sans-serif", sans-serif;
  --font-mono: "ui-monospace", "monospace";
  --font-sans: "Inter Tight", "Inter", "ui-sans-serif", sans-serif;
  --font-weight: 300;
}
